<header>
ShortURL.com
</header>

<body>
  <%if (username) {%>
  <form action="/logout" method="POST">
  Username: <%=username%>
  <button>Logout</button>
  </form>
  <% } else {%>
  <form action="/login" method="POST">
  Login: <input type="text" name="username" id=login >
        <input type="submit" value="Submit">
  </form>
  <% }%>
 <p>
 </p>



</body>