<header>
ShortURL.com
</header>

<body>
  <form action="/login" method="POST">
  Login: <input type="text" name="username" id=login >
        <input type="submit" value="Submit">



  </form>

</body>