<header>
ShortURL.com
</header>

<body>
  <% if (user) {%>
    User: <%= user.email %>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  <% } else {%>
    <p>
      <a href = "/register"> <li>Register </li> </a>
      <a href = "/login"> <li> Login</li> </a>
    </p>
  <% } %>

<!--   <form action="/login" method="POST">
  Login: <input type="text" name="username" id=login >
        <input type="submit" value="Submit">
  </form> -->


</body>