<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>

  <ul>
      <% for (var item in urls){ %>
      <a href='/urls/<%=item%>'><li> <%= urls[item] %> </li> </a>
      <form method="POST" action="/urls/<%=item%>/delete">
        <p>
          <button>Delete website</button>
        </p>
      </form>
          <% } %>
  </ul>
</body>
</html>
