<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
    <% for (var shortUrl in myUrls){ %>
      <li>
        <%=shortUrl%>
        <a href='/'><%= myUrls[shortUrl] %></a>
        <a href='/urls/<%=shortUrl%>'><button>Edit</button> </a>
        <form method="POST" action="/urls/<%=shortUrl%>/delete" style="display:inline">
            <button>Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  <p> <a href='/urls/new'>Create a New Short Link</a> </p>
</body>
</html>




